*{
    /* font-family: 'Roboto', sans-serif; */
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    /* text-transform: capitalize; */
    transition: all .2s linear;
    line-height: 1.5;
}
.navbar{
    background-color: #0D9488;
    overflow: hidden;
}

.navbar a {
    font-weight: bold;
    color : white;
    font-size: 17px;
}

.navbar a.active {
    background-color: #04AA6D;
    color: white;
  }

.jumbotron{
    background-color : #1e293b;
    
    
}
.jumbotron h1{
    font-weight: bold;
    font-size: 70px;
}

.jumbotron p{
    font-size: 20px;
}

.jumbotron a{
    background-color: #0D9488;
    color:#0D9488
}

.jumbotron span{
    color:beige
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding:.8rem 3rem;
    background: #0D9488;
    color:#fff;
    cursor: pointer;
    font-size: 1.7rem;
    text-align: center;
}

.btn:hover{
    background:#111;
    letter-spacing: .2rem;
}

.service p{
    font-weight: bold;
    font-size: 15px;
    color:#0D9488;
    padding-top: 40;
    margin-bottom:10;
    margin-left: 40;
}

.service h3{
    margin-left: 40;
    margin-bottom:10;
    font-weight: bold;
}

.service .p1{
    font-size: 16;
    font-weight: normal;
    color: #6a7a90;
    margin-top: -40;
}

.service .box-container{
    display: flex; 
    flex-wrap: wrap; 
    gap:1.5rem;
    margin-left: 40;
    
   
}

.service .box-container .box{
    flex:1 1 15rem;
    text-align: center;
    padding:2rem; 
    background:#fff;
    border-radius: .5rem;
    box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

.service .box-container .box i{
    height:6rem;
    width:6rem;
    line-height: 6rem;
    font-size: 2.5rem;
    color:#fff;
    /* background:var(--main-color); */
    border-radius: 50%;
}

.service .box-container .box h3{
    color:#444;
    font-size: 2.2rem;
    padding-top: -20;
}

.service .box-container img {
    width: 100;
    height: 100;
}

.service .box-container .box p{
    color:#666;
    font-size: 1.7rem;
    padding-top: .5rem;
}

.update p{
    font-weight: bold;
    font-size: 15px;
    color:#0D9488;
    padding-top: 40;
    margin-bottom:10;
    margin-left: 40;
}

.update h3{
    margin-left: 40;
    margin-bottom:10;
    font-weight: bold;
}

.update .p1{
    font-size: 16;
    font-weight: normal;
    color: #6a7a90;
    margin-top: -40;
}

.update .box-container{
    display: flex; 
    flex-wrap: wrap; 
    gap:1rem;
    margin-left: 40;
    
   
}

.update .box-container .box{
    flex:1 1 20rem;
    text-align: center;
    padding:2rem; 
    background:#fff;
    border-radius: .5rem;
    box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

.update .box-container .box i{
    height:6rem;
    width:6rem;
    line-height: 6rem;
    font-size: 2.5rem;
    color:#fff;
    /* background:var(--main-color); */
    border-radius: 50%;
}

.update .box-container .box h3{
    color:#444;
    font-size: 2.2rem;
    padding-top: -20;
}

.update .box-container img {
    width: 100;
    height: 100;
}

.update .box-container .box p{
    color:#666;
    font-size: 1.7rem;
    padding-top: .5rem;
}

.roadmap .container-roadmap{
    margin-left: 40;
    text-align: center;
    width: 1200px;
    min-height: 400px;
    
}

.roadmap .container-roadmap .p0{
    font-weight: bold;
    font-size: 15px;
    color:#0D9488;
    padding-top: 40;
    margin-bottom: 10;
    text-align: left;
}

.roadmap .container-roadmap h3{
    margin-bottom:10;
    font-weight: bold;
    text-align: left;
}

.roadmap .container-roadmap .p1{
    font-size: 16;
    font-weight: normal;
    color: #6a7a90;
    text-align: left;
}


.roadmap .container-roadmap .count {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
    text-align: center;
    margin: 50px;
}

.roadmap .container-roadmap .count div {
    height: 50px;
    width: 50px;
    background: #f0f2f7;
    border: 2px solid #7a90fd;
    border-radius: 50%;
    padding: 15px;
    font-weight: bold;
    color: #ccc;
    position: relative;
    cursor: pointer;
    transition: 0.5s ease;
}

.roadmap .container-roadmap .count div:hover {
    background: #7a90fd;
    color: #fff
}

.roadmap .container-roadmap .count div.active{
    background: #7a90fd;
    color: #fff;
}

.roadmap .container-roadmap .count div::before{
    content: '';
    position: absolute;
    top: 20px;
    left: 45px;
    height: 2px;
    width: 350px; 
    background: #ccc;
}

.roadmap .container-roadmap .count div:last-child::before{
    display: none;
}

.roadmap .container-roadmap .content h1{
    margin: 10px 0px;
    font-family: sans-serif;
}

.roadmap .container-roadmap .content p {
    margin: 10px 0px;
    text-align: center;
    font-size:  18px;
    color: #0D9488
}

.roadmap .container-roadmap .content button {
    padding: 15px 80px;
    margin-top: 20px;
    background-color: #7a90fd;
    color: #fff;
    border: 0;
    outline: none; 
    cursor: pointer; 
    font-weight:bold;
    border-radius: 5px;
}

.roadmap .container-roadmap .content.second, 
.roadmap .container-roadmap .content.third{
    display: none;
}

@media (max-width:1000px){
    .roadmap .container-roadmap{
        width: auto;
        margin: 50px;
       
    }

    .roadmap .container-roadmap .count div::before{
        width:150px;
    }

    
}

@media (max-width: 1000px){
    .roadmap .container-roadmap .count div::before{
        width: 80px;
    }
}

    


.footer{
    padding: 40px 0;
    background-color: #1e293b;
}

.footer .social{
    text-align: center;
    padding-bottom: 30px;
    color: #fff;
}

.footer .social a{
    font-size: 24px;
    color:inherit;
    line-height: 38px;
    display: inline-block;
    margin: 0 8px;
    opacity: 0.75;  
}

.footer .social a:hover{
    opacity: 0.9;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
} 

.footer ul li a{
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
    color: #fff;
}


.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer ul li a:hover {
    opacity: 1;
}

.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
}
