*{
    /* font-family: 'Roboto', sans-serif; */
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    /* text-transform: capitalize; */
    transition: all .2s linear;
    line-height: 1.5;
}
.navbar{
    background-color: #0D9488;
    overflow: hidden;
}

.navbar a {
    font-weight: bold;
    color : white;
    font-size: 17px;
}

.navbar a.active {
    background-color: #04AA6D;
    color: white;
  }

.jumbotron{
    background-color : #1e293b;
    
    
}
.jumbotron h1{
    font-weight: bold;
    font-size: 70px;
}

.jumbotron p{
    font-size: 20px;
}

.jumbotron a{
    background-color: #0D9488;
    color:#0D9488
}

.jumbotron span{
    color:beige
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding:.8rem 3rem;
    background: #0D9488;
    color:#fff;
    cursor: pointer;
    font-size: 1.7rem;
    text-align: center;
}

.btn:hover{
    background:#111;
    letter-spacing: .2rem;
}

.service p{
    font-weight: bold;
    font-size: 15px;
    color:#0D9488;
    padding-top: 40;
    margin-bottom:10;
    margin-left: 40;
}

.service h3{
    margin-left: 40;
    margin-bottom:10;
    font-weight: bold;
}

.service .p1{
    font-size: 16;
    font-weight: normal;
    color: #6a7a90;
    margin-top: -40;
}

.service .box-container{
    display: flex; 
    flex-wrap: wrap; 
    gap:1.5rem;
    margin-left: 40;
    
   
}

.service .box-container .box{
    flex:1 1 15rem;
    text-align: center;
    padding:2rem; 
    background:#fff;
    border-radius: .5rem;
    box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

.service .box-container .box i{
    height:6rem;
    width:6rem;
    line-height: 6rem;
    font-size: 2.5rem;
    color:#fff;
    /* background:var(--main-color); */
    border-radius: 50%;
}

.service .box-container .box h3{
    color:#444;
    font-size: 2.2rem;
    padding-top: -20;
}

.service .box-container img {
    width: 100;
    height: 100;
}

.service .box-container .box p{
    color:#666;
    font-size: 1.7rem;
    padding-top: .5rem;
}

.update p{
    font-weight: bold;
    font-size: 15px;
    color:#0D9488;
    padding-top: 40;
    margin-bottom:10;
    margin-left: 40;
}

.update h3{
    margin-left: 40;
    margin-bottom:10;
    font-weight: bold;
}

.update .p1{
    font-size: 16;
    font-weight: normal;
    color: #6a7a90;
    margin-top: -40;
}

.update .box-container{
    display: flex; 
    flex-wrap: wrap; 
    gap:1rem;
    margin-left: 40;
    
   
}

.update .box-container .box{
    flex:1 1 20rem;
    text-align: center;
    padding:2rem; 
    background:#fff;
    border-radius: .5rem;
    box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

.update .box-container .box i{
    height:6rem;
    width:6rem;
    line-height: 6rem;
    font-size: 2.5rem;
    color:#fff;
    /* background:var(--main-color); */
    border-radius: 50%;
}

.update .box-container .box h3{
    color:#444;
    font-size: 2.2rem;
    padding-top: -20;
}

.update .box-container img {
    width: 100;
    height: 100;
}

.update .box-container .box p{
    color:#666;
    font-size: 1.7rem;
    padding-top: .5rem;
}

.roadmap p{
    font-weight: bold;
    font-size: 15px;
    color:#0D9488;
    padding-top: 40;
    margin-bottom:10;
    margin-left: 40;
}

.roadmap h3{
    margin-left: 40;
    margin-bottom:10;
    font-weight: bold;
}

.roadmap .p1{
    font-size: 16;
    font-weight: normal;
    color: #6a7a90;
    margin-top: -40;
}


.footer {
    margin-top: 150px;
    width: 100%;
    padding: 100px 15%;
    background: #333;
    color:#efefef;
    display: flex;
}

.footer div{
    text-align: center;
}

.col-2{
    flex-grow: 2;
}

.footer div h3{
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 0px;         
}

.col-1 a{
    display: inline-block;
    text-decoration: none;
    color: #efefef;
    margin-bottom: 10px;

}

form input{
    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40;
    outline: none;
    border: none;
}

form button{
    background: transparent;
    border: 2px solid #fff;
    color: #fffb;
    border-radius:30px;
    padding: 10px 30px;
    font-size: 15px;
}

.social-icon{
    margin-top: 33px;
}

.social-icon a{
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
    color: #efefef;
}

