<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorial</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="../../static/css/blog.css">
</head>
<body>
    <!-- Section Navbar start -->
    <nav class="navbar navbar-expand-sm fixed-top">
        <div class="container-fluid">
          <!-- Links -->
          <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href=""><i class="fa fa-fw fa-home"></i> Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="tutorial.html">Tutorial</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Artikel</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Buku</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../index.html">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pomodoro Timer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="kanban.html">Kanban Board</a>
            </li>
          </ul>
        </div>
      
      </nav>
    <!-- Section Navbar end-->
    <!-- Section Jumbotron end -->
    <section class="jumbotron">
        <div class="mt-4 mb-8 p-5 text-white">
            <h1>Rumah Code</h1> 
            <p>Membantu pemula nyaman belajar code dengan tutorial mudah dipahami</p>
            <a href="tutorial" class="btn"><span class="mulai-belajar">Mulai Belajar</span></a>
        </div>
    </section>
    <!-- Section Jumbotron end-->
    <!-- Section kategori start -->
    <section class="service">
    <p>KATEGORI</p>
    <h3> Ayo Mulai <strong>Belajar</strong>! </h3>
    <p class="p1"> Materi yang direkomendasikan untuk Mu</p>
    <div class="box-container">

        <div class="box">
            <img src="../../static/images/python.svg">
            <h3>Python Tutorial</h3>
            <a href="tutorial.html" class="btn">see</a>
        </div>

        <div class="box">
            <img src="../../static/images/machine-learning.png">
            <h3>Machine Learning</h3>
            <a href="#contact" class="btn">see</a>
        </div>

        <div class="box">
            <img src="../../static/images/deep-learning.png">
            <h3>Deep Learning</h3>
            <a href="#contact" class="btn">see</a>
        </div>
    </section>
    <!-- Section Content end-->
    <!-- Section Update Start-->
    <Section class="update">
      <p>Update</p>
      <h3> Update Materi Rumah Code ! </h3>
      <p class="p1"> Ayo Lanjutkan Pencapain Mu</p>
      <div class="box-container">
        <div class="box">
            <img src="../../static/images/python.svg">
            <h3>Python Tutorial</h3>
            <a href="#tutorial" class="btn">see</a>
        </div>
    
        <div class="box">
            <img src="../../static/images/machine-learning.png">
            <h3>Machine Learning</h3>
            <a href="#" class="btn">see</a>
        </div>
    
        <div class="box">
            <img src="../../static/images/deep-learning.png">
            <h3>Deep Learning</h3>
            <a href="#contact" class="btn">see</a>
        </div>
        <div class="box">
          <img src="../../static/images/python.svg">
          <h3>Python Tutorial</h3>
          <a href="#contact" class="btn">see</a>
      </div>
  
      <div class="box">
          <img src="../../static/images/machine-learning.png">
          <h3>Machine Learning</h3>
          <a href="#contact" class="btn">see</a>
      </div>
  
      <div class="box">
          <img src="../../static/images/deep-learning.png">
          <h3>Deep Learning</h3>
          <a href="#contact" class="btn">see</a>
      </div>



      </div>
      
    </Section>
    <!-- Section Update End -->
    <!-- roadmap belajar -->
    <section class="roadmap">
      <div class="container-roadmap">
        <p class="p0">ROADMAP</p>
        <h3> Saran Roadmap Belajar</h3>
        <p class="p1">Pastikan Tiap Langkah dikuasai dengan baik</p>
        <div class="count">
          <div id="one">1</div>
          <div id="two">2</div>
          <div id="three">3</div>
        </div>
        <div class="content first">
          <h1> Welcome Roadmap 1</h1>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam cum incidunt a in nemo deleniti distinctio corporis eveniet adipisci delectus reprehenderit ab molestiae, repellat pariatur earum nesciunt quis, dignissimos nam?</p>
          <button>Get Started</button>
        </div>
        <div class="content second">
          <h1> Welcome Roadmap 2</h1>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam cum incidunt a in nemo deleniti distinctio corporis eveniet adipisci delectus reprehenderit ab molestiae, repellat pariatur earum nesciunt quis, dignissimos nam?</p>
          <button>Get Started</button>
        </div>
        <div class="content third">
          <h1> Welcome Roadmap 3</h1>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam cum incidunt a in nemo deleniti distinctio corporis eveniet adipisci delectus reprehenderit ab molestiae, repellat pariatur earum nesciunt quis, dignissimos nam?</p>
          <button>Get Started</button>
        </div>
      </div>
    <section>
    
    <!-- roadmap end-->
    <br><br><br><br><br><br><br><br><br><br><br>
    <!-- Section Footer Start-->   
    <section class="footer">
      <div class="social">
        <a href=""><i class="fab fa-instagram"></i></a>
        <a href=""><i class="fab fa-linkedin"></i></a>
        <a href=""><i class="fab fa-github"></i></a>
        <a href=""><i class="fab fa-medium"></i></a>
        <a href=""><i class="fab fa-whatsapp"></i></a>
      </div>
      <ul class="list">
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Services</a>
        </li>
        <li>
          <a href="#">Portfolio</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
      </ul>
      <p class="copyright">
        Future Coders @ 2022
      </p>
    </section>
    <!-- Section Footer End-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src ="../../static/js/blogs.js"></script>
</body>
</html>